<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Title App</title>
    @Styles.Render("~/bundles/TitleCss")
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <label class="header-style">Titles Application</label>
                
            </div>
            <div class="navbar-collapse collapse">
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Title App</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/react")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
